# .NET
*.obj
*.exe
*.dll
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
[Tt]est[Rr]esult*
[Bb]in
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in[Bb]uild/
[Ll]og/
[Ll]ogs/

# Visual Studio Code
.vscode/
*.code-workspace

# Rider
.idea/

# User-specific files
*.suo
*.user
*.userosscache
*.suo
*.sdf
*.dbmdl
